        @font-face {
                font-family: 'Raleway';
                src: url(raleway/Raleway-Regular.ttf);
        }
        body{background-color:white;font-family:Raleway;}
        
        #conteneur{ width:100%;margin:auto;}

        #haut{          display:flex;
                        height: 50px;
                        width: 10%; 
                        margin-bottom:30px;
                        background-color: white;}
                        
        #liens{         display:flex;
                        flex-direction: :row-reverse;
                        float: left;
                        width:auto;
                        text-align:center;
                        margin-top:10px;
                        margin-right:20px;}
        

        #liens a{       
                                
                                text-align:center;
                                font-size:24px;
                                width:auto;
                        
                                margin-top: auto;
                                margin-left:20%;
                                margin-right:10px;
                                
                                background-color:white;
                            }
                                
        #liens a:hover{border-top:solid 3px #0065FC;}
        #liens a:focus{border-top:solid 3px #0065FC;}

	
        a:visited{color: #0065FC;}
                    
        #lien1#lien3{color:#0065FC}
        #lien2{color:black}
                
        #button{        border:solid 1px #F2F2F2 }
        
       
        #localisation { color:black;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        background-color:#F2F2F2;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;}     
        #search         {width: auto;height: auto;}
        #recherche{     border-top-right-radius:20px;
                        border-bottom-right-radius: 20px;
                        width:30px;
                        height: auto;
                        color:white;
                        background-color:#0065FC;}

        #logo{          color: #0065FC;
                        margin-left: 20px;
                        border:solid 1px #Deebff;
                        border-radius: 70% 70% 70% 70%;
                        border-width: 10px;
                        background-color: #DEEBFF;} 

        .filtre{        border-top:solid 1px #F2F2F2;
                        height: 35px;
                        border-bottom:solid  #F2F2F2;
                        border-top-right-radius: 20px;
                        border-bottom-right-radius: 20px;
                        background-color: white;}
        
        #info{          width: 20px;
                        height: 20px;
                        margin-top: 10px;
                        color:#0065FC;
                        text-align: center;
                        border:solid 2px #F2F2F2;
                        border-radius: 70% 70% 70% 70%;
                        background-color: white;}  

               
        #milieu{        display:flex;
                        height:759px;
                        margin-top: 50px;
                        margin-left:10px;
                        width:50%;
                        font-size:10px;
                        background-color:#fff;
                        border-radius: 20px;
                        background-color: #F2F2F2;
                        color: black;}
        
        .imageheberge{         width:100px;
                        height: 50px;}

        .border1{       border: solid 5px white;
                                border-radius: 20px;
                                background-color: white;
                                width:100px;
                                height:100px}
        
        

        #articlecote{   display:flex;
                        width: 40%;
                        font-size:10px;
                        margin-top: 20px;
                        margin-left: 0px;
                        border-radius: 20px;
                        background-color: #F2F2F2;
                        color: black;}


        .flottant{      float: left;
                        width:50px;
                        border: solid 3px white;
                        border-top-left-radius: 20px;
                        border-bottom-left-radius: 20px;}

        #etoilebleu{    color: #0065FC;}
        #etoilegrise{   color:#F2F2F2;}

        

        .border2{       border-style:none;
                        border-radius: 20px;
                        box-shadow: 6px 6px 6px #F2F2F2;
                        background-color: white;}
        
        #figure{        text-align: center;}


        #articlebas{    border: #F2F2F2;
                        display:flex;
                        font-size: 10px;}


        .imgactiv{      width:100px;
                        height:60px}
        .imgactivbis{   width:100px;
                        height: 200px;}
       
        
        #bas{   height:200px;
                text-align:justify;
                background-color:#F2F2F2;
                width:100%
                margin-top: 20px;
                color:black;}

        #enbas{         width: 100%;
                        margin-top: 20px;
                }